name: Deployment (Dev)

on:
  push:
    branches: [development]

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: [self-hosted, org, dev, new]

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
      - name: install dependencies
        run: |
          sudo corepack enable
          yarn set version berry
          yarn install

      - name: Run Docker Compose
        env:
          NEXT_PUBLIC_POSTHOG_KEY: ${{ secrets.NEXT_PUBLIC_POSTHOG_KEY }}
          NEXT_PUBLIC_POSTHOG_HOST: ${{ secrets.NEXT_PUBLIC_POSTHOG_HOST }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          DEV_CDN_BASE_URL: ${{ secrets.DEV_CDN_BASE_URL }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID_DEV }}

        run: |
          yarn types:build
          docker system prune -f
          docker compose -f compose.dev.yaml down || true
          docker compose -f compose.dev.yaml up -d --build
