name: Test Workflow
on:
  pull_request:
    branches:
      - development

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_API_BASE_URL: https://api-dev.kokomen.kr/api/v1
      NEXT_PUBLIC_BASE_URL: https://localhost:3000
      VITE_API_BASE_URL: https://api-dev.kokomen.kr/api/v1
      VITE_BASE_URL: https://localhost:3000

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: "Install dependencies"
        run: |
          yarn set version berry
          yarn install

      - name: Run tests
        run: yarn test
